@import '../../assets/sass/base';

.error-404 .ant-result-title {
    font-size: 2.5rem;
    font-weight: 700;
  }

.no-icon-error .ant-result-icon {
    display: none;
  }
.error-404 img {
    padding-top: 3rem;
    width: 400px;
    height: auto;
}



  